# This file lists project requirements that should be installed into the
# local virtualenv library. It includes libraries not needed in GAE (either
# because they're for testing or because GAE already has them).
#
# pip install -r requirements_local.txt

flake8==2.5.0
Jinja2==2.8
pep8==1.6.2
pytest==2.8.2
tox==2.2.1
virtualenv==13.1.2
wheel==0.26.0
