/* Site-specific CSS overrides */

/* Extra small devices (phones, less than 768px) */
/* xs media query normally would not need be required since xs is the default 
in Bootstrap3 ("mobile first"), except that the media queries have already
been applied, so anything outside of a media-query would fail to be overridden
by the media queries of larger screen sizes. --NDH 20141019 */

/*@media (min-width: @screen-xs-max) { ... }*/
@media (max-width:767px){
    h1 {
        /* Fallback in case vw is not supported*/
        font-size: 30px;
        /* Font size 8% of visible width */
        font-size: 8vw;
    }
    div#links {
        margin-top: 2em;
        margin-bottom: 1em;
    }
    div.help_links {
        margin-top: -1em;
    }

    .alert {
        max-width: 75%;
        display: inline-block;
        margin: 0.8em 0 0.5em;
        padding: 0.3em;
    }
    
    .form-inline {
        max-width: 75%;
    }
    
    input#submit {
        margin-top: 0.5em;
    }
}


/* Small devices (tablets, 768px and up) */
/*@media (min-width: @screen-sm-min) { ... }*/
@media(min-width:768px){
    div #links {
        margin-top: 2.5em;
        margin-bottom: 3em;
    }
    div.help_links {
        margin-top: -1em;
    }
    .alert {
        max-width: 330px;
        display: inline-block;
        margin: 1em 0 0.5em;
        padding: 0.3em;
    }
}

/* Medium devices (desktops, 992px and up) */
/*@media (min-width: @screen-md-min) { ... }*/
@media(min-width:992px){
    .vertical-align {
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

/* Large devices (large desktops, 1200px and up) */
/*@media (min-width: @screen-lg-min) { ... }*/
/*@media(min-width:1200px){}*/

ul {
    list-style-type: none;
    padding:0;
    margin:0;
}

#browsebutton {
  background-color: white;
}

#my-file-selector {
    display: none;
}
