{% extends "base.html" %}
{% block content %}
<div class="row">
    <form class="form-inline center-block" action="/" method="POST" enctype="multipart/form-data">
        {{ form.hidden_tag() }}
        <div class="input-group">
            <label id="browsebutton" class="btn btn-default input-group-addon" for="my-file-selector">
                {{ form.csv_file(id="my-file-selector") }}
                Browse...
            </label>
            <input type="text" class="form-control" readonly>
        </div>
        {{ form.submit(class_="btn btn-primary") }}         
    </form>
</div>
{% endblock %}
{% block scripts %}
{{ super() }}
<script src="{{ url_for('.static', filename='js/inputFileButton.js') }}" ></script>
{% endblock %}

